# Ignore vcpkg completely
vcpkg/
vcpkg_installed/
vcpkg/buildtrees/
vcpkg/packages/
vcpkg/downloads/

# Ignore build outputs
build/
out/
bin/
obj/

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake-build-*/

#Ignore .exe files
*.exe